[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
nltk = "*"
scikit-learn = "*"
numpy = "*"
pandas = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
